* {
    box-sizing: border-box;
}
body {
    position: absolute;
}
body form {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 0px 24px;

}

#btnCalcularPrecio {
    width: auto;
    max-width: 200px;
}