@import url('mdl/fonts.css');
body {
}
form {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form .row {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 15px;
}
form .mdl-textfield:not(.make-bigger) {
    width: auto !important;
    margin: auto 10px;
}
form .mdl-textfield.make-bigger {
    width: auto !important;
    min-width: 240px;
}